@font-face {
  font-family: "Agency Fb";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Agency Fb"),
    url("../fonts/agency/Agency-Regular.TTF") format('truetype'),
}

@font-face {
  font-family: "Agency Fb";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Agency Fb"),
    url("../fonts/agency/Agency-Bold.TTF") format('truetype'),
}

@font-face {
  font-family: "Perfect Dos VGA 437";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Agency Fb"),
    url("../fonts/perfect-dos-vga/Perfect-Dos-Vga-437.ttf") format('truetype'),
}

@font-face {
  font-family: "Courier";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Courier"),
    url("../fonts/courier/Courier-New-Regular.ttf") format('truetype'),
}