.link-list{
  display: flex;
  list-style: none;

  & .link-item {
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  & .link-item-sm {
    &:not(:last-child) {
      margin-right: 3.4rem;
    }
  }

  .link-selector {
    width: 0;
    margin: 0;
    transition: 1s ease-in;
    transition-property: background, opacity, width;
  }

  .link-active {
    width: 100%;
  }

}
