{{ $page := .Site.GetPage "articles" }} 
{{ $pages := last 4 $page.Pages }} 

<section id="articles">
  <div class="container">
    <h2>{{ $page.Title }}</h2>
    <span class="divider"></span>
    <div class="articles">
      <div class="articles-images">
        {{ range sort $pages "Date" "asc" }}
          {{ if in .Params.Img "png" }}
              {{ $img := resources.Get .Params.Img }}
              {{ $imgR := $img.Resize "700x450 webp" }}
             <img src="{{ $imgR.RelPermalink }}" width="{{ $imgR.Width }}" height="{{ $imgR.Height }}" alt="">
          {{ else }}
            <img src="{{ .Params.Img | absURL }}" alt="">
          {{ end }}
        {{ end }}
      </div>
      <div class="articles-list">
        {{ range sort $pages "Date" "asc" }}
          <div class="article">
            <h3 class="h6 article-title"><span class="article-symbol">+</span> {{ .Title }}</h3>
            <div class="article-body">
              <p> {{ .Description}} </p>
              <a class="link-decorator" href="{{ .Permalink }}">Learn more >></a>
            </div>
            <span class="divider"></span>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>