<section class="values" id="values">
  <img id="back" src="{{ "images/mountain-back.svg" | absURL }}" alt="">
  <img id="front" src="{{ "images/mountain-front.svg" | absURL }}" alt="">
  <div class="container values-info">
    <h2 class="text-center mb-lg">Values</h2>
    <div class="values-list">
      <div class="value card-1-hover">
        <img class="value-card card-1" src="{{ "cards/card-1.svg" | absURL}}" alt="">
        <div class="value-info">
          <div class="value-header">
            <img src="{{ "icons/lightbulb.svg" | absURL }}" width="22" height="32" alt="lightbulb">
            <h3 class="h5 card-title-1">Innovation</h3>
          </div>
          <span class="divider-neon-pink"></span>
          <p class="card-text-1">We are committed to supporting the global emergence of decentralized communities and organizations on the blockchain.</p>
        </div>
      </div>
      <div class="value card-2-hover">
        <img class="value-card card-2" src="{{ "cards/card-2.svg" | absURL}}" alt="">
        <div class="value-info">
          <div class="value-header">
            <img src="{{ "icons/paper-plane.svg" | absURL }}" width="22" height="32" alt="Paper Plane">
            <h3 class="h5 card-title-2">Freedom</h3>
          </div>
          <span class="divider-neon-pink-2"></span>
          <p class="card-text-2">We work to create and uphold personal and economic freedom.</p>
        </div>
      </div>
      <div class="value card-3-hover">
        <img class="value-card card-3" src="{{ "cards/card-3.svg" | absURL}}" alt="">
        <div class="value-info">
          <div class="value-header">
            <img src="{{ "icons/eye.svg" | absURL }}" width="22" height="32" alt="Eye">
            <h3 class="h5 card-title-3">Privacy</h3>
          </div>
          <span class="divider-neon-orange"></span>
          <p class="card-text-3">We value uncompromising security and privacy. All users should own their data with full access control at all times.</p>
        </div>
      </div>
    </div>
  </div>
</section>