{{ $page := .Site.GetPage "vote" }}
<section class="vote" id="vote">
  <div class="container">
    <div class="vote-container">
      <div class="information">
        <h2 class="h1 information-title mb-lg"> {{ $page.Title }}</h2>
        <p>{{ $page.Description }}</p><br/>
        <a class="information-link link-decorator" href="https://telos.bloks.io/vote?producers=teloskitchen">Vote on bloks.io >></a></a>
      </div>
      <img class="vote-img fluid-img" src="{{ "images/tk.svg" | absURL }}" width="684" height="373" alt="Telos Kitchen Small Logo">
    </div>
    <div class="vote-links">
      {{ range .Site.Menus.social -}}
      {{ end -}}
    </div>
  </div>
</section>