{{ $logoRes := resources.Get "logo/logo.png" }}
{{ $logo := $logoRes.Resize "160x110 webp" }}
<footer class="footer-bg">
  <div class="container">
    <div class="footer">
      <div class="footer-links">
        <a href="{{ .Site.BaseURL }}">
          <img src="{{ $logo.RelPermalink }}" width="{{ $logo.Width }}" height="{{ $logo.Height }}" alt="Telos Kitchen Logo">
        </a>
        <div class="footer-home-links">
          <ul class="link-list">
            {{ range .Site.Menus.main -}}
            <li class="link-item">
              <a href="{{ .URL }}">{{ .Pre | safeHTML }}<span>{{ .Name | safeHTML }}</span></a>
            </li>
            {{ end -}}
          </ul>
        </div>
        <div class="footer-social-links">
          <ul class="link-list">
            {{ range .Site.Menus.social -}}
            <li class="link-item-sm">
              <a href="{{ .URL | absURL }}"><img src="{{ .Params.icon | absURL }}" width="32" height="22" alt="{{ .Name }}"><span class="sr-only">{{ .Name | safeHTML }}</span></a>
            </li>
            {{ end -}}
          </ul>
        </div>
      </div>
      <p class="footer-copy">
        &copy; Copyright 2019<span class="footer-copy-span">|</span>Telos Kitchen
      </p>
    </div>
  </div>
</footer>