.header {
  height: 10.6rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  &-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    height: 10.6rem;

    .link-list {
      display: none;
      @media screen and (min-width: $breakpoint-xl) {
        display: flex;
      }
    }
  }

  &-bg {
    width: 100%;
    height: 10.6rem;
    background-color: $dark;
    opacity: 0.4;
    position: absolute;
  }

}