.articles {
  display: flex;
  margin-bottom: 10rem;
  gap: 3rem;
  @media screen and (min-width: $breakpoint-2xl) {
    margin-bottom: 0;
  }
  @media screen and (min-width: $breakpoint-2xl) {
    min-height: 80rem;
  }
  
  &-images {
    display: none; 
    @media screen and (min-width: $breakpoint-xl) {
      display: flex;
      justify-content: center;
    }
    margin-top: 3rem;
    width: calc(100% - 59rem);
    margin: 3rem auto 0 0;
    position: relative;

    img {
      max-width: 100%;
      height: auto;
      position: absolute;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      max-height: 59.4rem;
      margin: 0 auto;
    }

    .img-active {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
  }

  &-list {
    width: 100%;
    @media screen and (min-width: $breakpoint-xl) {
      width: 59rem;
    }
  }

  .article {
    height: auto;

    &-title {
      font-family: $font-family-perfect;
      opacity: .5;
      color: $white;
      transition: all .5s;
      &-active {
        opacity: 1;
        color: $primary;
        transition: all .5s;
      }
    }

    &-body {
      max-height: 0;
      transition: max-height .9s ease-in-out;
      overflow: hidden;

      &-active {
        max-height: 500px;
        transition: max-height 2s ease-in-out;
      }

      a {
        display: inline-block;
        margin-top: 2rem;
      }
    }

    &-symbol {
      opacity: 1; 
      transition: all 3s;

      &-hide {
        opacity: 0;
        transition: opacity 2s;
      }
    }
  }
}