.team {
  padding-top: 20rem;
  position: relative;
  @media screen and (min-width: $breakpoint-2xl) {
    padding-top: 0;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .sun {
    position: absolute;
    max-width: 50%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -20%);
    height: auto;
  }

  .city {
    width: 100%;
    height: auto;
  }

  .container {
    @media screen and (min-width: $breakpoint-2xl) {
      position: absolute;
      z-index: 2;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-bottom {
    width: 100%;
    position: absolute;
    background-image: $purple-dark-gradient;
    bottom: 0;
    z-index: 3;
    height: 10%;
    @media screen and (min-width: $breakpoint-md) {
      height: 20%;
    }
    @media screen and (min-width: $breakpoint-2xl) {
      height: 35%;
    }
  }
}